body {
  margin: 0;
  background-color: #001c30;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

/* Nav bar */
.container {
  width: 80%;
  color: var(--textColor);
  margin: 0 auto;
}

/* This creates the variable background color */
:root {
  --mainColor: #176b87;
  --secColor: #64ccc5;
  --textColor: #dafffb;
}

header {
  background: var(--mainColor);
  text-align: center;
  /* This creates the one bar thing to be in place. Do it only in mobile */
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  user-select: none;
}

/* Hamburger menu */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

/* <-----------> */

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--mainColor);
  width: 100%;
  /* animation check nav-toggle ~ nav */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  color: #222222;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--textColor);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Boxes */
.projectBar {
  color: var(--textColor);
  text-align: center;
  user-select: none;
  padding-top: 5rem;
}

/* Put the box under the lastProject */
.projectBox .box {
  background-color: var(--mainColor);
  height: 285px;
  margin-top: 30px;
}

.projectBox .descriptBox {
  margin-top: 1%;
  background-color: var(--secColor);
  height: 100px;
}

@media screen and (min-width: 890px) {
  .nav-toggle-label {
    display: none;
  }

  nav {
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
    background: none;
    width: auto;
    transform: scale(1, 1);
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--textColor);
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    order: 1;
    user-select: none;
  }

  nav {
    order: 2;
    width: auto;
  }

  header {
    position: relative;
  }

  /* All the boxes where my projects will be show cased  */
  .projectBar {
    color: var(--textColor);
    text-align: center;
    user-select: none;
    padding-top: 0;
  }

  /* Formats the text along with the box positions */
  .projectBox {
    display: inline-block;
    margin-right: 10px;
    margin-top: 3%;
    width: 30%;
  }

  /* This affects the box sizes and shapes */
  .projectBox .box {
    background-color: var(--mainColor);
    height: 250px;
    margin-top: 30px;
  }

  /* Description box sizing and shape */
  .projectBox .descriptBox {
    margin-top: 3%;
    background-color: var(--secColor);
    height: 100px;
  }
}
