body{
  background-color: #222222;
}

.Title{
  color: white;
  font-style: bold;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75in;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a.github{
  color: white;
  /* put this on the same line as the title */
  display: flex;
  justify-content: left;
  align-items: left;

}
 