.socialMedia {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#gameContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#colorButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
}
