body {
  background-color: #fffdd0;
  font-family: "Urbanist", sans-serif;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.forms {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

.menuItems {
  text-decoration: none;
  color: black;
}

.menuItems:hover {
  transition: 400ms ease-in-out;
  border-bottom: 3px solid black;
  border-radius: 2.5px;
}
